# Scraping Yahoo Finance

## Week 7. Practice Programming Assignment 1

In this assignment you are required to look at historical data for 30 companies from [Dow Jones Index](https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average). Tickers for companies from the index can be found in *dow_jones_tickers.txt*. For each company you should get historical daily stock prices for 2019 from https://finance.yahoo.com/, and then use the data to answer the questions you will find below.

###### Import coursera grader tools

In [1]:
import sys
sys.path.append("..")
import grading
grader = grading.Grader(assignment_key="FpZrXMbETcuStX7z6jFv2Q", 
                      all_parts=["RbP2k", "LLRai", "hgIbw", "Tx3OG", "Y05pG",
                                 "lFPeF", "htUtf", "Xri0I", "4JfUm", "oD7pP"])

In [305]:
# token expires every 30 min
COURSERA_EMAIL = 'aleks4ndr0@gmail.com'
COURSERA_TOKEN = 'J5DycGLbgKhZKzFW'

<br><br><br><br>

### Coding part

In [237]:
# you can start your web-scraping here
import requests
import pandas as pd 
from io import StringIO
import numpy as np
import datetime

session = requests.session()

In [2]:
dow_jones_companies = []

with open('dow_jones_tickers.txt') as f:
    for ticker in f:
        dow_jones_companies.append(ticker.strip())

In [35]:
tickes_data = {}
headers = {
    "user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36"
}
for ticker in dow_jones_companies:
    url = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1=1546300800&period2=1577836800&interval=1d&events=history&includeAdjustedClose=true"
    response = session.get(url, headers=headers)
    tickes_data[ticker] =  response.text

In [256]:
tickers = []
for ticker, data in tickes_data.items():
    df = pd.read_csv(StringIO(data), parse_dates=['Date'])
    df.insert(0, 'Ticker', ticker)
    tickers.append(df)

data = pd.concat(tickers)

In [140]:
data

    Ticker       Date       Open  ...      Close  Adj Close   Volume
0      AXP 2019-01-02  93.910004  ...  95.680000  91.575760  4175400
1      AXP 2019-01-03  94.790001  ...  93.430000  89.788254  4776600
2      AXP 2019-01-04  95.370003  ...  97.639999  93.834167  4637200
3      AXP 2019-01-07  97.769997  ...  98.169998  94.343483  3289000
4      AXP 2019-01-08  98.690002  ...  98.650002  94.804771  3227200
..     ...        ...        ...  ...        ...        ...      ...
194    DOW 2019-12-24  55.000000  ...  54.900002  49.983463   926200
195    DOW 2019-12-26  54.980000  ...  55.220001  50.274811  1909600
196    DOW 2019-12-27  55.290001  ...  54.830002  49.919735  1688500
197    DOW 2019-12-30  54.860001  ...  54.340000  49.473610  1943300
198    DOW 2019-12-31  54.020000  ...  54.730000  49.828693  2145700

[7507 rows x 8 columns]

In [30]:
len(dow_jones_companies)

30

In [ ]:
#Open2019 = data.query('''Date == "2019-01-02"''').reset_index().set_index(['Ticker'])i

gb_ticker = data.groupby('Ticker')
min_dates = gb_ticker['Date'].min().reset_index().set_index(['Date','Ticker'])
max_dates = gb_ticker['Date'].max().reset_index().set_index(['Date','Ticker'])
min_dates

In [298]:
Close2019 = idata.loc[max_dates.index]
Open2019 = idata.loc[min_dates.index]

In [6]:
a = 1
b = 2.4
c = 3
legend=f'{a}x^2{b:+f}x{c:+f}'
legend

'1x^2+2.400000x+3.000000'

In [300]:
Open2019.reset_index(inplace=True)
Open2019.set_index(['Ticker'], inplace=True)
Close2019.reset_index(inplace=True)
Close2019.set_index(['Ticker'], inplace=True)

In [302]:
np.mean((Close2019.Close / Open2019.Open - 1) * 100)

23.664689827554984

In [269]:
Open2019['Close'] = Close2019.loc[Open2019.index].Close
Open2019['Change'] = (Open2019.Close / Open2019.Open - 1) * 100
Open2019

        index        Date        Open  ...   Adj Close     Volume     Change
Ticker                                 ...
AXP         0  2019-01-02   93.910004  ...   91.575760    4175400  32.563085
AAPL        0  2019-01-02   38.722500  ...   38.326298  148158800  89.586153
BA          0  2019-01-02  316.190002  ...  314.645142    3292200   3.026664
CAT         0  2019-01-02  124.029999  ...  116.861320    4783200  19.067963
CSCO        0  2019-01-02   42.279999  ...   39.231705   23833500  13.434248
CVX         0  2019-01-02  107.339996  ...   95.651024    6384800  12.269430
XOM         0  2019-01-02   67.349998  ...   58.018692   16727200   3.608019
GS          0  2019-01-02  164.330002  ...  162.605087    3999400  39.919668
HD          0  2019-01-02  169.710007  ...  161.279037    4242900  28.678331
IBM         0  2019-01-02  107.084129  ...   95.081245    4434935  19.667882
INTC        0  2019-01-02   45.959999  ...   43.686810   18774600  30.221931
JNJ         0  2019-01-02  128.130005  ...  117.985733    7631700  13.845305
KO          0  2019-01-02   46.939999  ...   42.969891   11603700  17.916487
JPM         0  2019-01-02   95.949997  ...   90.652054   15670900  45.284000
MCD         0  2019-01-02  175.410004  ...  164.881241    2571500  12.656061
MMM         0  2019-01-02  187.820007  ...  172.615326    2475200  -6.069646
MRK         0  2019-01-02   71.841606  ...   66.292549   15120125  20.799566
MSFT        0  2019-01-02   99.550003  ...   97.782425   35329300  58.412850
NKE         0  2019-01-02   72.790001  ...   72.179802    6762700  39.181202
PFE         0  2019-01-02   40.910816  ...   36.581047   26430315  -9.137290
PG          0  2019-01-02   91.029999  ...   84.517365    9843900  37.207518
TRV         0  2019-01-02  117.489998  ...  109.816277    1793400  16.563111
UNH         0  2019-01-02  245.000000  ...  233.055405    4063600  19.991841
RTX         0  2019-01-02   66.179985  ...   63.261887    9361752  42.411569
VZ          0  2019-01-02   56.160000  ...   49.260269   13969700   9.330488
V           0  2019-01-02  130.000000  ...  130.463150    8788000  44.538457
WBA         0  2019-01-02   67.199997  ...   60.846279    5528100 -12.261902
WMT         0  2019-01-02   91.639999  ...   88.933060    8152700  29.681359
DIS         0  2019-01-02  108.099998  ...  107.654335    9723500  33.792792

[29 rows x 9 columns]

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
driver = webdriver.Chrome(executable_path='./chromedriver')

In [3]:
driver.get("http://finance.yahoo.com")

In [9]:
driver.find_element_by_tag_name('html').send_keys(Keys.PAGE_DOWN)

In [29]:
driver.close()

<br><br>

### Questions

<br><br>

**Question 1.** What is the average change of price over the year (in %)?

*Note 1*. The opening price is the price at which a stock first trades upon the opening of an exchange on a trading day.

*Note 2*. The closing price for any stock is the final price at which it trades during regular market hours on any given day.

*Note 3*. Here by the price change we going to mean a ratio of a closing price in the last day of the period to an opening price in the first day of that period, subtracted one and multiplied by 100.

Example: if a price of a stock in day 1 opened at \\$100, and its close price in the last day was \\$120, then the price change during the period is: $$\left(\dfrac{120}{100}-1\right) * 100 = (1.2 - 1) * 100=20.$$

The price grew by 20%.

In [250]:
data['Change'] = (data.Close/data.Open - 1) * 100

In [303]:
answer_part_1 = np.mean((Close2019.Close / Open2019.Open - 1) * 100)
answer_part_1

23.664689827554984

In [304]:
# Setting our answers to grader. Do not change!
grader.set_answer("RbP2k", answer_part_1)

<br>

**Question 2.** What company's stock price grew the most (in %)? Enter ticker of the company as an answer)

In [102]:
answer_part_2 = Open2019.idxmax()['Change']
answer_part_2

'AAPL'

In [103]:
# Setting our answers to grader. Do not change!
grader.set_answer("LLRai", answer_part_2)

<br>

**Question 3.** What company's stock lost in price the most (in %)? Enter ticker of the company as an answer

In [104]:
answer_part_3 = Open2019.idxmin()['Change']
answer_part_3

'WBA'

In [105]:
# Setting our answers to grader. Do not change!
grader.set_answer("hgIbw", answer_part_3)

<br>

**Question 4.** What company had the largest summary volume over the year? Enter ticker of the company as an answer

In [107]:
answer_part_4 = data.groupby('Ticker')['Volume'].sum().idxmax()
answer_part_4

'AAPL'

In [108]:
# Setting our answers to grader. Do not change!
grader.set_answer("Tx3OG", answer_part_4)

<br>

**Question 5.** What is the biggest stock price daily increase (in %)? Enter the number

In [117]:
data['Change'] = (data['Close'] / data['Open'] - 1) * 100
idata = data.set_index(['Date', 'Ticker'])
idata.idxmax()['Change'][1]

'BA'

In [115]:
idata.loc[('2019-03-11', 'BA')]

Open         3.712700e+02
High         4.026700e+02
Low          3.655500e+02
Close        4.000100e+02
Adj Close    3.906411e+02
Volume       3.474220e+07
Change       7.741003e+00
Name: (2019-03-11, BA), dtype: float64

In [116]:
idata['Change'].max()

7.741003003612024

In [127]:

answer_part_5 = idata.loc[idata.idxmax()['Change']]['Change']
answer_part_5

7.741003003612024

In [128]:
# Setting our answers to grader. Do not change!
grader.set_answer("Y05pG", answer_part_5)

<br><br>

**Question 6.** What is the company that had the biggest stock price daily increase? Enter ticker of the company as an answer

In [122]:
idata['PriceChange'] = idata['Open'] - idata['Close']
idata.idxmax()['PriceChange'][1]

'BA'

In [121]:
idata.loc[('2019-10-18', 'BA')]

Open           3.690000e+02
High           3.693500e+02
Low            3.440000e+02
Close          3.440000e+02
Adj Close      3.399813e+02
Volume         1.354430e+07
Change        -6.775068e+00
PriceChange    2.500000e+01
Name: (2019-10-18, BA), dtype: float64

In [129]:
answer_part_6 = idata.idxmax()['Change'][1]
answer_part_6

'BA'

In [130]:
# Setting our answers to grader. Do not change!
grader.set_answer("lFPeF", answer_part_6)

<br>

**Question 7.** What is the biggest stock price daily decrease (in %)? Enter the number

In [132]:
answer_part_7 = idata.loc[idata.idxmin()['Change']]['Change']
answer_part_7

-7.16355966479475

In [133]:
# Setting our answers to grader. Do not change!
grader.set_answer("htUtf", answer_part_7)

<br>

**Question 8.** What is the company that had the biggest stock price daily decrese (in %)? Enter ticker of the company as an answer

In [134]:
answer_part_8 = idata.idxmin()['Change'][1]
answer_part_8

'UNH'

In [135]:
# Setting our answers to grader. Do not change!
grader.set_answer("Xri0I", answer_part_8)

<br>

**Question 9.** What was the best month for all companies (i.e. average monthly price increase was the best)? Enter one of the following: January, February, March, April, May, June, July, August, September, October, November, December

In [171]:
data['Month'] = data.Date.dt.month_name()

In [169]:
idata = data.set_index(['Date','Ticker'])

In [180]:
idata.index[0]

(Timestamp('2019-01-02 00:00:00'), 'AXP')

In [203]:
month_end_index = pd.date_range(start='2019-01-01', end='2019-12-31', freq='M')
month_start_index = pd.date_range(start='2019-01-01', end='2019-12-31', freq='MS')
month_start_index = pd.MultiIndex.from_product([month_start_index, dow_jones_companies], names=['Date', 'Ticker'])
month_end_index = pd.MultiIndex.from_product([month_end_index, dow_jones_companies], names=['Date', 'Ticker'])

In [192]:
begin_df = data.groupby(['Ticker', 'Month']).Date.min().reset_index().set_index(['Date', 'Ticker'])
end_df = data.groupby(['Ticker', 'Month']).Date.max().reset_index().set_index(['Date', 'Ticker'])

In [197]:
end_df['Close'] = idata.loc[end_df.index].Close
end_df

                       Month      Close
Date       Ticker
2019-04-30 AAPL        April  50.167500
2019-08-30 AAPL       August  52.185001
2019-12-31 AAPL     December  73.412498
2019-02-28 AAPL     February  43.287498
2019-01-31 AAPL      January  41.610001
...                      ...        ...
2019-03-29 XOM         March  80.800003
2019-05-31 XOM           May  70.769997
2019-11-29 XOM      November  68.129997
2019-10-31 XOM       October  67.570000
2019-09-30 XOM     September  70.610001

[358 rows x 2 columns]

In [198]:
begin_df['Open'] = idata.loc[begin_df.index].Open
begin_df

                       Month       Open
Date       Ticker
2019-04-01 AAPL        April  47.910000
2019-08-01 AAPL       August  53.474998
2019-12-02 AAPL     December  66.817497
2019-02-01 AAPL     February  41.740002
2019-01-02 AAPL      January  38.722500
...                      ...        ...
2019-03-01 XOM         March  79.379997
2019-05-01 XOM           May  79.940002
2019-11-01 XOM      November  68.389999
2019-10-01 XOM       October  70.830002
2019-09-03 XOM     September  67.889999

[358 rows x 2 columns]

In [207]:
month_open = begin_df.reset_index().set_index(['Ticker', 'Month'])
month_close = end_df.reset_index().set_index(['Ticker', 'Month'])
month_open['Close'] = month_close.loc[month_open.index].Close
month_open['Change'] = (month_open.Close/month_open.Open - 1) * 100
month_open.groupby('Month').mean().Change.idxmax()

'January'

In [208]:
answer_part_9 = month_open.groupby('Month').mean().Change.idxmax()
answer_part_9

'January'

In [209]:
# Setting our answers to grader. Do not change!
grader.set_answer("4JfUm", answer_part_9)

<br>

**Question 10.** What was the worst month for all companies (i.e. average monthly price increase was the worst)? Enter one of the following: January, February, March, April, May, June, July, August, September, October, November, December

In [210]:
answer_part_10 = month_open.groupby('Month').mean().Change.idxmin()

In [211]:
# Setting our answers to grader. Do not change!
grader.set_answer("oD7pP", answer_part_10)

<br>
<br>

### Submitting answers

In [306]:
# you can make submission with answers so far to check yourself at this stage
grader.submit(COURSERA_EMAIL, COURSERA_TOKEN)

Submitted to Coursera platform. See results on assignment page!